.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--preto-fosco);
    color: var(--branco-gelo);
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(65, 37, 37, 0.1);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px 20px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: var(--branco-gelo);
    font-size: 18px;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: var(--vermelho-escuro);
  }
  