@import '../../variables.css';

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--branco-gelo);
  color: var(--preto-fosco);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

h1 {
  color: var(--vermelho-escuro);
  font-size: 24px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--cinza-claro);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--bege-medio);
  color: var(--preto-fosco);
  margin-bottom: 15px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid var(--cinza-claro);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--bege-medio);
  color: var(--preto-fosco);
}

/* Card Styles */
.Card {
  background-color: var(--branco-gelo);
  border: 1px solid var(--cinza-claro);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 100%; /* Prevent overflow */
}

.Card h1 {
  color: var(--vermelho-escuro);
  font-size: 20px;
  margin-bottom: 15px;
}

.Card p {
  font-size: 14px;
  margin-bottom: 10px;
}
.news_content {
  background-color: var(--branco-gelo);
  border: 1px solid var(--cinza-claro);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 100%; /* Ensures it fits the container */
  box-sizing: border-box; /* To include padding and border in the width calculation */
}

/* Editor Styles */
#editor {
  height: 300px; /* Adjusted height to make it more manageable */
  background-color: var(--bege-medio);
  border: 1px solid var(--cinza-claro);
  border-radius: 4px;
  margin-bottom: 15px;
  width: 98%;
  box-sizing: border-box;
}

/* Button Styles */
button {
  background-color: var(--vermelho-escuro);
  color: var(--branco-gelo);
  border: none;
  gap: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--preto-fosco);
}
